@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    .header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 10%;
        margin-bottom: 60px;
        h1 {
            text-align: center;
            font-weight: 600;
            position: relative;
        }
        span {
            background-color: #303ef7;
            width: 100px;
            height: 5px;
            margin: 0 auto;
            margin-top: -25px;
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 350px;
        margin: 0 auto;
        margin-top: 0px;
        .service {
            text-align: center;
            padding: 25px 10px;
            width: 250px;
            margin: 25px 25px;
            margin-top: 0px;
            border-radius: 10px;
            font-size: 14px;
            cursor: pointer;
            background: transparent;
            transition: transform 0.5s, background 0.5s;
            i {
                font-size: 40px;
                color: #303ef7;
                margin-bottom: 10px;
            }
            h2 {
                font-weight: 600;
                margin-bottom: 8px;
            }
            &:hover {
                background-color: #303ef7;
                color: #fff;
                transform: scale(1.05);
                i {
                    color: #fff;
                }
            }
        }
    }

}
